*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100% !important;
}

body { 
  background-color: #2193bc;
  position: relative;
}

#root { 
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
}
