.menu {
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    background-color: #8ecae6;
    border-radius: 10px;
    border: 5px solid #023047;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.menu-header {
    color: #fb8500; 
    padding: 0 20px;
    font-size: 2.5rem;
    font-weight: bold;
}

.menu-item {
    padding: 10px;
    margin-bottom: 25px;
    width: 85%;
}

.menu-item p {
    color: #ff7b03;
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
    margin-bottom: 15px;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-radius: 15px;
    overflow: hidden;
}

.category-container .item ,
.difficulty-container .item {
    border-right: 1px solid #e9e9e9;
}

.category-container .item:nth-last-child(1),
.difficulty-container .item:nth-last-child(1) {
    border-right: none;
}

.item {
    padding: 15px;
    background-color: #eeac8b;
}

.item h4 {
    color: white;
    font-size: 1.5rem;
    margin-bottom: 10px; 
    text-align:center;
}

.item:hover {
    opacity: 0.8;
}

.active {
    background-color: #b4f055;
}

.category-image {
    height: 150px;
    text-align: center;
}

.category-image img { 
    object-fit: contain;
    width: 100%;
    max-height: 100%;
}

.difficulty-container { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 15px;
    overflow: hidden;
}

.play-button {
    border-radius: 25px;
    font-size: 2rem;
    border: 2px solid white;
    background-color: #b4f055;
    padding: 10px 15px;
    text-align: center;
    color: #FF5733;   
}

.play-button:hover {
    background-color: rgba(180,240,85, 0.7);
}